## Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache

## User-specific files
appsettings.user.json
**/appsettings.Development.json

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Rider
.idea/

## VS Code
.vscode/
